<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunstar.gyyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />



    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net_config"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <activity android:name=".ui.PaySuccessActivity"></activity>
        <activity android:name=".ui.CheckOrderInfoActivity" />
        <activity android:name=".ui.OrderListDataActivity" />
        <activity android:name=".ui.GetCashWayActivity" />
        <activity android:name=".ui.GetMoneyActivity" />
        <activity android:name=".ui.PointsHistoryActivity" />
        <activity android:name=".ui.InvestPointsActivity" />
        <activity android:name=".ui.MyPropertyActivity" />
        <activity android:name=".ui.OrderInfoActivity" />
        <activity android:name=".ui.RecommendMainActivity" />
        <activity android:name=".ui.PointChargeActivity" />
        <activity android:name=".ui.MyCollectActivity" />
        <activity android:name=".ui.GoodsListPageActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.SearchPageActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.ShoopCartActivity" />
        <activity android:name=".ui.GoodsInfoActivity" />
        <activity android:name=".ui.ArticalListActivity" />
        <activity android:name=".ui.AddLocationActivity" />
        <activity android:name=".ui.LocationListActivity" />
        <activity android:name=".ui.VipCenterActivity" />
        <activity android:name=".ui.ChangeBuyPasswordActivity" />
        <activity android:name=".ui.ChangeLoginPasswordActivity" />
        <activity android:name=".ui.PhotoCheckActivity" />

        <provider
            android:name=".base.AppProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity android:name=".ui.ChangeUserInfoActivity" />
        <activity android:name=".ui.UserCenterActivity" />
        <activity android:name=".ui.FindPasswordActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".WebActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>